appdirs==1.4.4
beautifulsoup4==4.10.0
Brotli==1.0.9
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
cssselect==1.1.0
dash==2.3.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
fake-useragent==0.1.11
Flask==2.1.1
Flask-Compress==1.11
greenlet==1.1.2
html5lib==1.1
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
lxml==4.8.0
MarkupSafe==2.1.1
nltk==3.7
numpy==1.22.3
pandas==1.4.2
parse==1.19.0
plotly==5.6.0
psycopg2-binary==2.9.3
pyee==8.2.2
pyppeteer==1.0.2
pyquery==1.4.3
python-dateutil==2.8.2
pytz==2022.1
regex==2022.3.15
requests==2.27.1
requests-html==0.10.0
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.34
tenacity==8.0.1
tqdm==4.64.0
urllib3==1.26.9
w3lib==1.22.0
webencodings==0.5.1
websockets==10.2
Werkzeug==2.1.1
zipp==3.8.0
